@model PagedList.IPagedList<LLVBog.Models.Blog>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Statistical";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12" style="color:blue">
        <h1 class="page-header" style="text-align:center"><strong>THỐNG KÊ</strong></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="color: blue; font-size: 18px">
                Bảng thống kê
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="dataTables-example_wapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            @using (Html.BeginForm("Statistical", "Admin", FormMethod.Get, new { @class = "d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" }))
                            {
                                <form class="form-inline mr-2">
                                    <div class="col-sm-6">
                                        <div id="dataTables-example_filter" class="dataTables_filter">
                                            <input value="@ViewBag.searchkey" name="searchkey" type="text" class="form-control bg-light border-0 small" placeholder="Nhập từ khóa..."
                                                   aria-label="Search" aria-describedby="basic-addon2">

                                            <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                                            <button class="btn btn-info" type="button" onclick="window.location.href='/Admin/Statistical'">Reset </button>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                        <div class="row">

                            <div class="col-sm-12">

                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr style="background-color:cornflowerblue">

                                            <th>Mã Blog</th>
                                            <th>Tiêu đề</th>
                                            <th>Nội dung</th>
                                            <th>Ngày tạo</th>
                                            <th>Ngày cập nhật</th>
                                            <th>Ngày xóa</th>
                                            <th>Tên người dùng</th>
                                            <th>Tổng lượt xem</th>
                                            <th>Tình trạng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>@item.BlogId</td>
                                            <td>@item.Title</td>
                                            <td><a href="~/Blog/Content/@item.BlogId">Đi tới bài viết</a></td>
                                            <td>@item.CreatedDate</td>
                                            <td>@item.UpdatedDate</td>
                                            <td>@item.DeletedDate</td>
                                            <td>@item.Username</td>
                                            <td>@item.TotalView</td>
                                            @if (item.isBlock == true)
                                            {
                                                <td class="text-danger">Đã khóa</td>
                                            }
                                            else
                                            {
                                                <td class="text-primary">Mở khóa</td>
                                            }
                                        </tr>

                                        }
                                    </tbody>
                                </table>
                                <!-- Thêm mã phân trang -->
                                <br />
                                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

                                @Html.PagedListPager(Model, page => Url.Action("Statistical", new { page }))
                                <!-- Kết thúc -->
                            </div>
                        </div>
                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->