@model IEnumerable<LLVBog.Models.Blog>

@{
    ViewBag.Page = "Home";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section class="blog-posts">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="sidebar-heading">
                            <h2 class=" main-content-heading">Bài viết mới</h2>
                        </div>
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-12">
                                <div class="blog-post row custom-shadow">
                                    <div class="col-lg-4" style="padding: 0">
                                        <img src="~/Content/Home/images/heading-bg.jpg" style="width: 100% ; height: 100%;" >

                                    </div>
                                    <div class="down-content col-lg-8">
                                        <div class="post-options">
                                            <div class="row">

                                                <div class="col-lg-12">
                                                    <ul class="post-tags">
                                                        <li><i class="fa fa-tags"></i></li>
                                                        @if (item.Categories.Count > 5)
                                                        {
                                                            foreach (var i in item.Categories.Take(5))
                                                            {
                                                                <li><a href="#">@i.Name</a></li>
                                                            }
                                                            <li><a href="#">...</a></li>
                                                        }
                                                        else
                                                        {
                                                            foreach (var i in item.Categories)
                                                            {
                                                                <li><a href="#">@i.Name</a></li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="/Blog/Content/@item.BlogId">
                                            <h4 class="post-title">
                                                @item.Title
                                            </h4>
                                        </a>
                                        <ul class="post-info">
                                            <li><a href="/Profile/Author?username=@item.Account.Username">@item.Account.FirstName @item.Account.LastName</a></li>
                                            <li><a href="#">@item.CreatedDate.ToString("d")</a></li>
                                            <li><a href="#">@item.TotalView Lượt xem</a></li>
                                        </ul>
                                        <div class="flex margin-top">
                                            @{
                                                var vote = item.Actions.Where(i => i.Vote == true).Count() - item.Actions.Where(i => i.Vote == false).Count();
                                                var voteString = vote.ToString();
                                            }
                                            <div class="flex-column flex">
                                                @if (vote > 0)
                                                {
                                                    voteString = "+" + vote;
                                                    <span class="fa fa-chevron-up vote-valid"></span>
                                                    <span class="fa fa-chevron-down vote"></span>
                                                }
                                                else if (vote < 0)
                                                {
                                                    <span class="fa fa-chevron-up vote"></span>
                                                    <span class="fa fa-chevron-down vote-valid"></span>
                                                }
                                                else
                                                {
                                                    <span class="fa fa-chevron-up vote"></span>
                                                    <span class="fa fa-chevron-down vote"></span>
                                                }
                                            </div>
                                            &ensp;&ensp;
                                            @voteString
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="col-lg-12 padding-zero">
                            <div class="main-button">
                                <a href="/Blog">Xem tất cả các bài đăng</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item search">
                                <form id="search_form" name="gs" method="GET" action="/Blog/Index">
                                    <input type="text" name="q" class="searchText" placeholder="Tìm kiếm..." autocomplete="on">
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item recent-posts">
                                <div class="sidebar-heading">
                                    <h2>Có thể bạn quan tâm</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        @if (ViewBag.lstHotPosts.Count == 0)
                                        {
                                            <li>Không có bài đăng khác để gợi ý</li>
                                        }
                                        else
                                        {
                                            foreach (var item in ViewBag.lstHotPosts)
                                            {
                                                <li>
                                                    <a href="/Blog/Content/@item.BlogId">
                                                        <h5>@item.Title</h5>
                                                        <span>@item.CreatedDate.ToString("d")</span>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="sidebar-item tags">
                                <div class="sidebar-heading">
                                    <h2>Thể loại</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        @foreach (var item in ViewBag.lstCatgories)
                                        {
                                            <li><a href="/Blog/Index?q=@Request.QueryString["q"]&category=@item.CategoryId">@item.Name</a></li>
                                        }                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>

