@model IEnumerable<LLVBog.Models.Blog>

@{
    ViewBag.Page = "Blog";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>List</h2>
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>danh sách bài viết</h4>
                        <h2>Nơi chia sẻ kinh nghiệm - kiến thức của bạn</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="blog-posts grid-system">
    <div class="container">
        <div class="row margin-top">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-12">
                                <div class="blog-post row custom-shadow">
                                    <div class="down-content col-lg-12">
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <ul class="post-tags">
                                                        <li><i class="fa fa-tags"></i></li>
                                                        @if (item.Categories.Count > 5)
                                                        {
                                                            foreach (var i in item.Categories.Take(5))
                                                            {
                                                                <li><a href="#">@i.Name</a></li>
                                                            }
                                                            <li><a href="#">...</a></li>
                                                        }
                                                        else
                                                        {
                                                            foreach (var i in item.Categories)
                                                            {
                                                                <li><a href="#">@i.Name</a></li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="/Blog/Content/@item.BlogId">
                                            <h4 class="post-title">@item.Title</h4>
                                        </a>
                                        <ul class="post-info">
                                            <li><a href="/Profile/Author?username=@item.Account.Username">@item.Account.FirstName @item.Account.LastName</a></li>
                                            <li><a href="#">@item.CreatedDate.ToString("d")</a></li>
                                            <li><a href="#">@item.TotalView Lượt xem</a></li>
                                        </ul>
                                        <div class="flex margin-top">
                                            @{
                                                var vote = item.Actions.Where(i => i.Vote == true).Count() - item.Actions.Where(i => i.Vote == false).Count();
                                                var voteString = vote.ToString();
                                            }
                                            <div class="flex-column flex">
                                                @if (vote > 0)
                                                {
                                                    voteString = "+" + vote;
                                                    <span class="fa fa-chevron-up vote-valid"></span>
                                                    <span class="fa fa-chevron-down vote"></span>
                                                }
                                                else if (vote < 0)
                                                {                                                    
                                                    <span class="fa fa-chevron-up vote"></span>
                                                    <span class="fa fa-chevron-down vote-valid"></span>
                                                }
                                                else
                                                {
                                                    <span class="fa fa-chevron-up vote"></span>
                                                    <span class="fa fa-chevron-down vote"></span>
                                                }
                                            </div>
                                            &ensp;&ensp;
                                            @voteString
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="col-lg-12">
                            <ul class="page-numbers">
                                <li><a href="/Blog/Index?page=1"><i class="fa fa-angle-double-left"></i></a></li>
                                @for (var i = ViewBag.PageID - 2; i < ViewBag.PageID; i++)
                                {
                                    if (i <= 0)
                                    {
                                        continue;
                                    }
                                    if (i == ViewBag.PageID - 2)
                                    {
                                        <li><a href="#">...</a></li>
                                    }
                                    <li><a href="/Blog/Index?page=@i">@i</a></li>

                                }
                                <li class="active"><a href="#">@ViewBag.PageID</a></li>
                                @for (var i = ViewBag.PageID + 1; i <= ViewBag.PageMax && i <= ViewBag.PageID + 3; ++i)
                                {
                                    if (i == ViewBag.PageId + 3)
                                    {
                                        <li><a href="#">...</a></li>
                                        break;
                                    }
                                    <li><a href="/Blog/Index?page=@i">@i</a></li>
                                }
                                <li><a href="/Blog/Index?page=@ViewBag.PageMax"><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item search">
                                <form id="search_form" name="gs" method="GET" action="/Blog/Index">
                                    <input type="text" name="q" class="searchText" placeholder="tìm kiếm..." autocomplete="on">
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item recent-posts">
                                <div class="sidebar-heading">
                                    <h2>có thể bạn quan tâm</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        @if (ViewBag.lstHotPosts.Count == 0)
                                        {
                                            <li>Không có bài đăng khác để gợi ý</li>
                                        }
                                        else
                                        {
                                            foreach (var item in ViewBag.lstHotPosts)
                                            {
                                                <li>
                                                    <a href="/Blog/Content/@item.BlogId">
                                                        <h5>@item.Title</h5>
                                                        <span>@item.CreatedDate.ToString("d")</span>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            @Html.Partial("_SortMenu")
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item tags">
                                <div class="sidebar-heading">
                                    <h2>Thể loại</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        @foreach (var item in ViewBag.lstCatgories)
                                        {
                                            <li><a href="/Blog/Index?q=@Request.QueryString["q"]&category=@item.CategoryId">@item.Name</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>